line-length = 120

[format]
docstring-code-format = true

[lint]
select = ["ALL"]
ignore = [
    "D1",    # undocumented
    "D203",  # one blank line before class
    "D213",  # multi-line summary second line
    "TD001", # invalid todo tag
    "TD002", # missing todo author
    "TD003", # missing todo link
    "PD011", # pandas use of dot values
    "COM812", 
]
unfixable = [
    "F401",
    "F841",
]

[lint.pydocstyle]
convention = "google"

[lint.per-file-ignores]
"tests/**/*.py" = [
    "D",
    "S101",
    "N802",
    "ARG",
]
"study/**/*.py" = ["ALL"]
"**/migrations/*.py" = ["ALL"]
"app/services/ai/rag/vectordatabase/*.py" = ["ANN401"]  # Allow Any for ChromaDB types

[lint.pylint]
max-args = 6

[lint.isort]
known-first-party = [
    "models", "dtos", "routers", "services", "usecases", "utils", "websocket_routers", "app_conf", "app_resources", "errors"
]
force-single-line = false
force-sort-within-sections = false
split-on-trailing-comma = true
lines-between-types = 1
